fastapi
uvicorn[standard]
sqlalchemy
pydantic
email-validator
python-multipart
python-jose[cryptography]
passlib[bcrypt]
twilio
requests
python-dotenv
bcrypt
alembic
reportlab
pandas
openpyxl
psycopg2-binary